mixin schema(item, prop)
  div(itemprop=prop, itemscope, itemtype=item.type ? item.type.join(" ") : null)
    if item.properties
      each vals, key in item.properties
        each val in vals
          if typeof val === 'object'
            +schema(val, key)
          else if key == "url"
            link(itemprop=key, href=val)
          else
            meta(itemprop=key, content=val)

doctype html
html(lang=metadata.general && metadata.general.lang)
  head
    meta(charset="utf-8")
    
    if metadata.general
      if metadata.general.title
        title= metadata.general.title
    
    meta(property="og:url", content=pretend)
    
    if metadata.twitter
      meta(name="twitter:card", content="summary")
      if metadata.twitter.site
        meta(name="twitter:site" content=metadata.twitter.site)
      if metadata.twitter.title
        meta(name="twitter:title", content=metadata.twitter.title)
      if metadata.twitter.description
        meta(name="twitter:description", content=metadata.twitter.description)
      if metadata.twitter.image
        meta(name="twitter:image", content=metadata.twitter.image)
    
  body
    if metadata.schemaOrg
      each item in metadata.schemaOrg.items
        +schema(item)
    div location.href = "#{redirect}"
