mixin schema(item, prop)
  div(itemprop=prop, itemscope, itemtype=item.type ? item.type.join(" ") : null)
    if item.properties
      each vals, key in item.properties
        each val in vals
          if typeof val === 'object'
            +schema(val, key)
          else if key == "url"
            link(itemprop=key, href=val)
          else
            meta(itemprop=key, content=val)

mixin twitter(item, prefixes = [])
  if typeof item === 'object'
    each val, key in item
      +twitter(val, prefixes.concat([key]))
  else
    if JSON.stringify(prefixes) == '["twitter","player","url"]'
      meta(name="twitter:player", content=item)
    else
      meta(name=prefixes.join(":"), content=item)

doctype html
html(lang=metadata.general.lang)
  head
    meta(charset="utf-8")
    title= metadata.general.title
    
    if metadata.general.canonical
      link(rel="canonical", href=metadata.general.canonical)
    if metadata.general.description
      link(content="description", href=metadata.general.description)
    if metadata.general.keywords
      link(content="keywords", href=metadata.general.keywords)
    if metadata.general.shortlink
      link(rel="shortlink", href=metadata.general.shortlink)
    
    if metadata.openGraph
      if metadata.openGraph.site_name
        meta(property="og:site_name", content=metadata.openGraph.site_name)
      if metadata.openGraph.url
        meta(property="og:url", content=metadata.openGraph.url)
      else
        meta(property="og:url", content=pretend)
      if metadata.openGraph.title
        meta(property="og:title", content=metadata.openGraph.title)
      if metadata.openGraph.image
        if metadata.openGraph.image.url
          meta(property="og:image", content=metadata.openGraph.image.url)
      if metadata.openGraph.description
        meta(property="og:description" content=metadata.openGraph.description)
      if metadata.openGraph.type
      meta(property="og:type", content=metadata.openGraph.type)
    
    if metadata.twitter
      +twitter(metadata.twitter, ["twitter"])
    
  body
    if metadata.schemaOrg
      each item in metadata.schemaOrg.items
        +schema(item)
    // div location.href = "#{redirect}"
