mixin schema(item, prop)
  div(itemprop=prop, itemscope, itemtype=item.type ? item.type.join(" ") : null)
    if item.properties
      each vals, key in item.properties
        each val in vals
          if typeof val === 'object'
            +schema(val, key)
          else if key == "url"
            link(itemprop=key, href=val)
          else
            meta(itemprop=key, content=val)

doctype html
html(lang=metadata.general && metadata.general.lang)
  head
    meta(charset="utf-8")
    
    if metadata.general
      if metadata.general.title
        title= metadata.general.title
      if metadata.general.description
        link(content="description", href=metadata.general.description)
      if metadata.general.keywords
        link(content="keywords", href=metadata.general.keywords)
    
    meta(property="og:url", content=pretend)
    
    if metadata.openGraph
      if metadata.openGraph.site_name
        meta(property="og:site_name", content=metadata.openGraph.site_name)
      if metadata.openGraph.title
        meta(property="og:title", content=metadata.openGraph.title)
      if metadata.openGraph.image
        if metadata.openGraph.image.url
          meta(property="og:image", content=metadata.openGraph.image.url)
      if metadata.openGraph.description
        meta(property="og:description" content=metadata.openGraph.description)
      if metadata.openGraph.type
        meta(property="og:type", content=metadata.openGraph.type)
      if metadata.openGraph.updated_time
        meta(property="og:updated_time", content=metadata.openGraph.published_time)
      if metadata.openGraph.published_time
        meta(property="article:published_time", content=metadata.openGraph.published_time)
      if metadata.openGraph.modified_time
        meta(property="article:modified_time", content=metadata.openGraph.modified_time)
    
    if metadata.twitter
      meta(name="twitter:card", content="summary")
      if metadata.twitter.site
        meta(name="twitter:site" content=metadata.twitter.site)
      if metadata.twitter.title
        meta(name="twitter:title", content=metadata.twitter.title)
      if metadata.twitter.description
        meta(name="twitter:description", content=metadata.twitter.description)
      if metadata.twitter.image
        meta(name="twitter:image", content=metadata.twitter.image)
    
  body
    if metadata.schemaOrg
      each item in metadata.schemaOrg.items
        +schema(item)
    div location.href = "#{redirect}"
